body {
  margin: 0;
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#videos {
  flex: 1;
  display: flex;
}

video {
  width: 50%;
  object-fit: cover;
  background: #111;
}

#bottom {
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
